/*!

 =========================================================
 * Global Styles - v1.0.0
 =========================================================
 */

/* ANIMATION */

/* SHADOWS */

/* Shadows (from mdl http://www.getmdl.io/) */

.select-label {
  margin-top: 15px;
  margin-bottom: 0;
  color: #AAAAAA;
}